body {
	background: #fff7b2;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}

header, main, footer {
	min-width: 855px;
	padding: 20px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}